* {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Fugaz One';
    src: url('FugazOne-Regular.ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/jost-400-book-webfont.woff2') format('woff2'),
         url('/fonts/jost-400-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/jost-400-bookitalic-webfont.woff2') format('woff2'),
         url('/fonts/jost-400-bookitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/jost-700-bold-webfont.woff2') format('woff2'),
         url('/fonts/jost-700-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Jost';
    src: url('/fonts/jost-700-bolditalic-webfont.woff2') format('woff2'),
         url('/fonts/jost-700-bolditalic-webfont.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

html {
    padding:0px;
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #aaa;
}
body {
    padding:0px;
    margin: 0px;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba(0,0,0,0);
    font-family: 'Fugaz One', sans-serif;
    text-transform: uppercase;
    font-size:22px;
}

.container {
    padding:2em;
}

header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.left {
    text-align: left;
}
#team-left {
    position:relative;
    vertical-align: bottom;
    line-height: 54px;
    height: 49px;
}
#team-left::after {
    content:" ";
    position:absolute;
    z-index:-1;
    background-color:var(--bgleft);
    transform: skew(-30deg);
    width: 250px;
    height: 50px;
    left:-1em;
    top:0px;
}
.right {
    text-align: right;
}
#team-right {
    position:relative;
    vertical-align: bottom;
    line-height: 54px;
    height: 49px;
}
#team-right::after {
    content:" ";
    position:absolute;
    z-index:-1;
    background-color:var(--bgright);
    transform: skew(30deg);
    width: 250px;
    height: 50px;
    right:-1em;
    top:0px;
}
.clocks {
    text-align: center;
}
.bordershadow {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
}
#jamclock {
    font-size:2em;
}

.timeouts {
    width: 100%;
    display:flex;
    justify-content: flex-start;
}
.right .timeouts {
    justify-content: flex-end;
}

.team {
    display:grid;
    grid-template-rows: min-content min-content min-content;
    grid-template-columns: 270px 270px;
}
#totalscore-l, #totalscore-r {
    font-size: 1.5em;
}
#jamscore-l, #jammername-l, #jamscore-r, #jammername-r {
    font-size: .8em;
}
#jammername-l, #jammername-r {
    position:relative;
    padding-top:10px;
}
#jammername-l { opacity: 0; transition: all .3s;}
#jammername-r { opacity: 0; transition: all .3s;}
#jammername-l.visible { opacity: 1; transition: all .3s;}
#jammername-r.visible { opacity: 1; transition: all .3s;}
#jammername-l.lead::before {
    content:"⭐";
    position:absolute;
    left:-1.5em;
}
#jammername-r.lead::before {
    content:"⭐";
    position:absolute;
    right:-1.5em;
}

.or {
    margin-left:2em;
    margin-right:2em;
}
#timeout-type {
    position:relative;
}
#team-left {
    color:var(--fgleft);
}
#team-right {
    color:var(--fgright);
}
.t-left::before {
    content:" ";
    position: absolute;
    z-index: -1;
    background-color:var(--bgleft);
    transform: skew(-30deg);
    width: 2em;
    height: 30px;
    left:-3em;
    top:0px;
}
.t-right::before {
    content:" ";
    position: absolute;
    z-index: -1;
    background-color:var(--bgright);
    transform: skew(30deg);
    width: 2em;
    height: 30px;
    right:-3em;
    top:0px;
}
#tt-l, #tt-r, #or-l, #or-r {
    font-size: 20px;
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
             1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
    color: #282828;
}